[2018-02-15 12:36] yochannah opened #1 "Set up continuous deployment with Travis"
The intermine homepage uses [hugo](https://gohugo.io/) to generate static pages. Right now we have to manually generate the pages, then copy/paste the alterations over to the master branch of [intermine.github.io](https://github.com/intermine/intermine.github.io).

**task** clone this repo and set up a deployment script with [travis](https://travis-ci.org/) to automatically build the site and push

[2018-02-15 12:38] yochannah opened #2 "Make homepage mobile friendly [css/html]"
See https://github.com/intermine/bluegenes/issues/167 - we probably want to make the results table have a max width and overflow auto.

[2018-02-15 12:57] aditodkar commented on #2
@yochannah I have installed Hugo. Can I work on this ?

[2018-02-15 12:59] yochannah commented on #2
Go ahead! :+1:

[2018-02-15 13:45] yochannah opened #3 "Add favicon [html]"
It would be nice to add a favicon to the homepage! We have various InterMine logos here: https://intermineorg.wordpress.com/logos/

**task**
1. fork this repo
2. let us know you'd like to work on the issue!
2. make the necessary changes to add a favicon to the repo
4. make a PR when you think it's ready!

It's fine to ask for help if you get stuck.

[2018-02-15 13:52] aditodkar commented on #3
@yochannah I can see 3-4 favicon's which one should be added ?

[2018-02-15 13:53] yochannah opened #4 "Make reference tracker dynamic using Zotero API [JS + AJAX]"
We have a page which shows links to [InterMine publications](http://intermine.org/publications/). This page is static HTML, but it would be better if the data was fetched dynamically!

We'd like to try using Zotero. See a short collection of InterMine papers here: https://www.zotero.org/groups/2117194/intermine/items

Zotero also has developer documentation: https://www.zotero.org/support/dev/star

[2018-02-15 13:56] aditodkar commented on #3
@yochannah Ok I will do it.

[2018-02-15 14:13] aditodkar commented on #2
@yochannah docs/style.less and static/style.less are same can you please explain me why so ?

[2018-02-15 14:36] yochannah commented on #4
One implementation method might be to use BibBase rather than work directly with the API. From @vivekkrish

BibBase.org provides a way to automatically parse Zotero or Mendeley libraries and/or bibtex files and render the publications within a dynamic widget.

All instructions are available on the http://bibbase.org front page or at http://bibbase.org/help. BibBase is pretty full featured, and all

[2018-02-15 15:55] aditodkar commented on #2
@yochannah I got the solution for this issue css style of main tag should be set to `width:100%` and `overflow:auto`

I tested the website in chrome by adding `width:100%` and `overflow:auto` it works fine see below screenshot :

![screenshot_8](https://user-images.githubusercontent.com/16613832/36265940-59c2acea-1296-11e8-904c-d51ad8b72843.png)

![screenshot_4](https://user-images.githubuserconte

[2018-02-15 16:00] yochannah commented on #2
don't worry about the error - that's happening even on live intermine.org and is probably a problem with flymine.

The fix looks good in the screenshots, would you like to make a PR?

[2018-02-15 16:40] aditodkar commented on #3
@yochannah Should I create a new images folder in the repository ? So that I can specify the `src=""` of the image.

[2018-02-15 16:43] yochannah commented on #3
sounds like a decent plan!

On 15 February 2018 at 16:40, Aditya Todkar <notifications@github.com>
wrote:

[2018-02-15 16:54] aditodkar commented on #4
@yochannah On [InterMine publications](http://intermine.org/publications/) I can see there are various publications which are displayed but as it is static HTML we needs to hardcoded am I right ? So using AJAX we have to dynamically populate this page -> http://intermine.org/publications/ whenever a new publication is published. Can I start working on it ?

[2018-02-15 17:05] yochannah commented on #4
Correct! It's probably easier to use the plugin recommended by @vivekkrish if possible.

[2018-02-15 17:19] aditodkar commented on #4
@yochannah Ok I will go through the plugin recommended by Vivek.

[2018-02-16 04:45] kunal-mohta commented on #4
@yochannah Using BibBase.org might be the easier way to get the data from Zotero and display it, but it may cost you on the UI as the default data display style of BibBase might not "look good" with the existing style of the page.

[2018-02-19 16:43] aditodkar commented on #4
@yochannah For getting publications data I am not able to get javascript snippet for HTML page which can be  just added in our page. Also I want to ask instead of search publications by specific Author can I search publications by search word intermine in bibase search here: http://bibbase.org/search it displays more publications which are not displayed here: http://intermine.org/publications/

[2018-02-22 08:16] HaoPatrick commented on #1
We can do this by adding a deploy key to the Travis env variables and after successfully built the static pages, we load the key from Travis and then push back to GitHub, am I correct?
Can I start working on it?

[2018-02-22 09:45] yochannah commented on #1
@HaoPatrick go ahead! :+1:

[2018-02-26 16:33] NirmalKumarJoshi commented on #3
Can I work on this issue?

[2018-02-26 16:36] aditodkar commented on #3
@NirmalKumarJoshi I have sent PR for this issue. If possible can we both discuss on how to solve https://github.com/intermine/intermine-homepage-2017/issues/4

[2018-02-26 16:36] yochannah commented on #3
@NirmalKumarJoshi there is a PR awaiting review to fix this, so no need, but thanks!

[2018-02-26 16:48] NirmalKumarJoshi commented on #3
Yeah sure @aditodkar . We will discuss on issuse #4

[2018-03-06 14:18] KukkadapuSushma opened #8 "Style the 'credits' item in footer"
I feel the "Credits" link in the bottom right corner of footer - is very inappropriate in it's display.
So, would like to style it up if that's fine.

- Kindly assign me  : @KukkadapuSushma to proceed!

 @julie-sullivan  @yochannah

![screenshot from 2018-03-06 19-37-17](https://user-images.githubusercontent.com/14278142/37036899-1306d4f8-2177-11e8-931e-7da850418382.png)

[2018-03-06 14:26] yochannah commented on #8
Go ahead!

[2018-03-06 16:47] KukkadapuSushma opened #9 "Markdown syntax error"
I found a 'bug' - in the "credits page" - displayed below - At **the title "Site credits" being shown as markdown text** {..........}.

_Description_ : The markdown was like {title : "Site credits" ...... } in **credits/index.md** page, I have checked on multiple browsers to find if the problem was on my side, but it seems not to be.
So, shall i rectify this error??? First of all, would like to kn

[2018-03-06 16:51] yochannah commented on #9
It looks ok on http://intermine.org/credits/ - but if you think there is an error, yes, definitely fix it!! :smile:

[2018-03-06 16:56] KukkadapuSushma commented on #9
@yochannah -- Yes! I can see no issues on Master repo pages. That's why I am wondering whether it is bug or just some version problem -- related to my browsers!

[2018-03-06 16:58] yochannah commented on #9
Hmmm. Let's leave this open and see what it's like after you PR for the other issue, then close this issue or fix as needed?

[2018-03-06 16:59] KukkadapuSushma commented on #9
Yes, lemme focus on other issue #8 and raise PR! :+1:

[2018-03-07 13:20] KukkadapuSushma commented on #9
This issue was arised due to my "hugo version" error.
Can close this, as there's no such bug! :) @yochannah

[2018-03-07 13:20] #9 closed

[2018-03-07 14:26] KukkadapuSushma commented on #8
@yochannah

Kindly review :)
PR : https://github.com/intermine/intermine-homepage-2017/pull/10

[2018-08-03 09:50] yochannah commented on #8
fixed by #10

[2018-08-03 09:50] #8 closed

[2018-08-03 09:51] yochannah commented on #3
fixed by #6

[2018-08-03 09:51] #3 closed

[2018-08-03 09:54] yochannah commented on #2
fixed by #5

[2018-08-03 09:54] #2 closed

[2018-08-03 10:55] yochannah opened #11 "Theme readthedocs.io the same"
See https://github.com/yochannah/intermine-homepage-2017/issues/2 for history

[2019-01-08 17:40] yochannah commented on #4
I actually implemented this a while ago and forgot to update the ticket!

[2019-01-08 17:40] #4 closed

[2019-08-14 11:42] #1 closed

[2020-03-05 17:44] sabina-rohman commented on #11
Hi, @yochannah  I'm an outreachy applicant May 2020. Can I please work on this issue, if it's still open?

[2020-03-05 18:45] Angelvicks commented on #11
Hi @yochannah , I'm an outreachy applicant. Please i will like to work on this issue.

[2020-03-05 20:54] itolimaesther commented on #11
Hi @yochannah , I'm an outreachy applicant for May 2020. Please I will love to work on this issue.

[2020-03-06 09:05] GraceChiamaka commented on #11
Hi @yochannah, Can I work on this issue, I'm an Outreachy applicant

[2020-03-06 10:09] Officialkome commented on #11
Hello, Is this task available please, can I work on it?  - Applicant from Outreachy

[2020-03-06 15:00] yochannah commented on #11
Hey @sabina-rohman - I've assigned the issue to you! Let us know if you have any questions.

Others - thanks for volunteering! 💖  if you're having trouble finding issues to volunteer for, my advice is to try checking out a repository you're interested in and seeing if you can spot any improvements or bugs, then making issues for those. Thanks for being so patient!

[2020-03-06 17:08] sabina-rohman commented on #11
@yochannah Thanks. :)

[2020-03-07 11:17] sabina-rohman commented on #11
@yochannah I have forked and setup the project locally.

Would like to know what is the acceptance criteria of this item?

Homepage: http://intermine.org/
Docs page: https://intermine.readthedocs.io/

Is it about changing the header/footer of the docs page to be same as the homepage?

[2020-03-08 20:28] Chigael commented on #11
hi @yochannah i am an outreachy applicant of May 2020, please can you assign me to a project? thanks

[2020-03-10 12:26] PrastutiUpadhaya commented on #11
Hi @yochannah I would love to work on this if it becomes available.

[2020-03-10 13:47] yochannah commented on #11
Hey @sabina-rohman - you got it right, that's the main thing to do :)

@Chigael, @PrastutiUpadhaya I think @sabina-rohman has this task in hand for now, but thanks for volunteering! :)

[2020-03-10 19:39] sabina-rohman commented on #11
@yochannah  so i was trying to find the code base for the readthedocs.io page. I couldnt find it here https://github.com/intermine/intermine-homepage-2017. Is it in some other repo?

[2020-03-11 11:01] yochannah opened #14 "add /tools page to list bluegenes tools [js knowledge required]"
We'd like to show a list of BlueGenes data vis tools on the intermine site.

## Task:

1. set up a new directory under `/content` called `/tools`
2. Create a file in this folder that will output all of the BlueGenes tools (found [here, under the tag bluegenes-intermine-tool](https://www.npmjs.com/search?q=keywords:bluegenes-intermine-tool)) on the page - a name and a link to the GitHub repo, descr

[2020-03-11 12:09] katherine95 commented on #14
I would like to work on this one. @yochannah

[2020-03-11 12:11] yochannah commented on #14
Assigned! :)

[2020-03-12 05:56] vvijayalakshmi21 opened #59 "Repeated Mine names in Intermine.org homepage"
The Intermine.org homepage displays some hard-coded and random mines which includes repeated ones. This could be changed such that we check for duplicates before we display them
![image](https://user-images.githubusercontent.com/34595292/76491703-5b20b500-63fc-11ea-8926-38bd7eec21f4.png)

[2020-03-12 11:35] MinervaLong opened #15 "Links broken in tutorial page"
Hello @yochannah I've found that in http://intermine.org/tutorials/ the Twitter and Thalemine tutorial links give error, can I take care of it? :)

[2020-03-12 11:39] yochannah commented on #15
thanks, please do!

The thalemine tutorial is gone now 😭  so just remove it entirely

[2020-03-12 11:43] MinervaLong commented on #15
Yes, I've just realized :0

[2020-03-12 12:13] yochannah opened #16 "add elixir RIR logo to homepage"
let's add it to the footer of the homepage, alongside the other logos on the bottom right.

Notes:
- add it _as well_ as the ELIXIR-UK logo.
- it should be the same size as the ELIXIR-UK logo.
- the logo can be obtained here: https://elixir-europe.org/platforms/interoperability/rirs
- things should still line up neatly - it might be best to move teh cambridge university logo first, then have two m

[2020-03-12 12:56] MinervaLong opened #18 "Twitter Logo in Grid View"
Hello, @yochannah In the "Which InterMine for my organism?" page, in the Grid View, there are some Mines where the Twitter logo is misplaced. It could be placed over the "Visit website" button like in the ListView. Can I work on it? :)

[2020-03-12 16:29] katherine95 commented on #14
Hi @yochannah , I have a few questions. Where will I display the BlueGenes tools on the website? Is there a design I could use or I just design on my own?

[2020-03-13 06:31] itolimaesther commented on #18
Please may I work on this issue?

[2020-03-13 06:32] itolimaesther commented on #15
Can I also work on this too?

[2020-03-13 06:35] itolimaesther commented on #16
I can also work on this too @yochannah

[2020-03-13 06:55] Chigael commented on #18
can i work on this issue also

[2020-03-13 06:58] Chigael commented on #16
hi @yochannah can i work on this issue

[2020-03-13 08:58] yochannah commented on #18
Hey both - please go ahead! we'll only be able to merge one PR, but both contributions will count for Outreachy contributions :)

[2020-03-13 08:59] yochannah commented on #16
Hey both - please go ahead! we'll only be able to merge one PR, but both contributions will count for Outreachy contributions :)

[2020-03-13 10:28] MinervaLong commented on #18
Hello @yochannah Then I should work on another issue?

[2020-03-13 11:45] Chigael commented on #18
@yochannah okay..thanks

[2020-03-13 12:51] Angelvicks commented on #15
Hello @yochannah can I work on this too?

[2020-03-13 13:18] Chigael commented on #16
@yochannah how can i get access to the codes

[2020-03-13 13:21] Angelvicks commented on #15
#19 I tried to fix the twitter link and remove the Thalemine link since its a dead link.

[2020-03-13 15:56] pooja2299 commented on #16
hey @yochannah can i also work on it?

[2020-03-13 16:49] yochannah commented on #16
https://github.com/intermine/intermine-homepage-2017/blob/master/layouts/partials/footer.html this is probably the file you want! You'll also probably need to edit the css in the static folder.

@pooja2299 you're welcome to work on this too! We'll only merge one PR, but both contributions would count for the purposes of outreachy.

[2020-03-13 17:42] Angelvicks commented on #16
Hello @yochannah , Please can i work on it also?

[2020-03-13 22:14] Chigael commented on #16
@yochannah thanks

[2020-03-14 06:42] pooja2299 commented on #16
@yochannah thanks

[2020-03-14 17:23] anushkajha opened #21 "improvement in hamburger menu"
Hello @yochannah   i noticed that  hamburger menu requires some improvement .  it doesn't close on one click on the  close button instead the menu for biologist gets opened. Also the modification in the its transition is required . Could you please assign me the task to make the required changes.

[2020-03-14 20:29] owans commented on #16
Hi @yochannah I would also like to work on this, I have gone through the guidelines.

[2020-03-15 07:47] Kirti2502 opened #22 "Making the image responsive for mobile view"
![Screenshot_2020-03-15 InterMine(1)](https://user-images.githubusercontent.com/42866461/76697553-a0740980-66be-11ea-931c-2499e7fe9edb.png)
I've noticed that the image goes out of the flex box in mobile view and needs to be fixed.

I would like to contribute so could you please assign me the task?

[2020-03-16 14:01] itolimaesther commented on #22
Hello @Kirti2502
Please can I work on this issue?

[2020-03-16 14:21] Kirti2502 commented on #22
@itolimaesther I am working on the issue.
Thank you for the interest.

[2020-03-16 16:05] ofonime1 commented on #22
I am also working on the issue

[2020-03-16 16:15] MinervaLong commented on #21
Hello @anushkajha better comment on discord channel about your assignment with a link, these days mentors have a lot of notifications and maybe they've missed yours :)

[2020-03-16 16:22] yochannah commented on #21
@anushkajha Please do fix this and thanks for spotting it! <3

 @MinervaLong thanks, you've got things exactly right 🙌 Discord helps a lot

[2020-03-16 17:51] Kirti2502 commented on #22
I have  opened a PR. Please review @yochannah .
Thank you.

[2020-03-16 17:51] Kirti2502 commented on #21
I would also like to work on this issue.
Thanks.

[2020-03-16 18:11] Kirti2502 opened #26 "the page "which intermine for my organism" is not responsive"
![Screenshot_2020-03-16 InterMine Registry](https://user-images.githubusercontent.com/42866461/76787340-d4dee700-67de-11ea-944d-3add5a96eccb.png)
The page "which intermine for my organism" cuts the content in mobile view.

I would like to work on the issue.

[2020-03-16 18:28] MinervaLong commented on #22
Hi, @Kirti2502 Better to mention it in Discord too so tomorrow mentors don't miss it :)

[2020-03-16 18:54] Kirti2502 commented on #22
Thank you @MinervaLong

[2020-03-16 18:58] anushkajha commented on #21
thanks @MinervaLong  and @yochannah :)

[2020-03-17 14:54] yochannah commented on #26
I've assigned this to you - but note the repo to go to is https://github.com/intermine/intermine-registry/ for this! 🚀

[2020-03-17 14:59] yochannah opened #27 "Training portal ideas"
Hey all!

We've collectively had a bunch of great ideas for the training portal. Let's use this issue to discuss and share our ideas - each comment counts as a contribution for Outreachy. 🌟

[2020-03-17 16:37] Persdre commented on #27
Let me be the first one haha.
1. change the layout: add each link on the page a small window to roughly summarize the content, such as the YouTube homepage.
2. give detailed content in every part: now there is not enough explanation in every link. Besides pictures, we can add more concrete guides to it.
3. more lively: now it seems too monotomous. Maybe we can change its color scheme and font styl

[2020-03-17 16:40] Persdre commented on #27
<img width="890" alt="Screenshot 2020-03-18 at 12 34 55 AM" src="https://user-images.githubusercontent.com/35624031/76879325-10e27c80-68b1-11ea-8684-2b80c51e68b0.png">
just as I said, the picture is not clear enough.

[2020-03-17 18:51] wintermornings00 commented on #27
1. Table of Contents- Changing the background color to make it more noticeable. Also taking care of the white space between the headings.
2. Maybe include a short introduction to what the page does before Contents.
3. Under the tutorials section we can change the text color of answers or indent it to make it more readable.
4. We can get rid of the underlines in the sub headings.

[2020-03-18 01:17] anushkajha commented on #27
1)Changing the way the content is organised could be very helpful especially for first time users .
 We can  divide  resources available in sections (introductory ,advance)
Also  group all the resources(video,slides ,links) of a particular topic together  under a well defined heading  that   would make it  easier for the user to search resources about interrelated topics.
changes in styling would

[2020-03-18 02:23] Persdre commented on #27
en, I am not clear how to make a video.  Do you mean screen recording?

[2020-03-18 02:39] anushkajha opened #28 "improvement required in training-workshops webpage"
Hello @yochannah
i had a suggestion .I really like that the entire intermine website has maintained a nice color scheme. but i noticed that the “training- workshops” page    does not have that color scheme and styling   so it looks very disconnected from the rest  of the webpages of the website .It would be nice if we could improve it.

also when you over the word "workshop " it goes into a  loop

[2020-03-18 13:45] ddada24 opened #29 "Have the Training/Tutorial portal link in Intermine home page"
There can be a training/Tutorial link in the top right corner of Intermine home page, this will help a first time visitor on the site to find it easy familiarizing themselves to the page and also carry out the required activities on Intermine.

[2020-03-18 14:59] SiSousa commented on #27
it is my first time here and i want to help... i am having some ideas now but lets start:
1-There would be a good idea have an search field in tutorials section of intermine website, so the user could search for a tutorial filtering by level(ex: begginers, advanced) and the option of also filtering by programming language(ex: python, R)
2-It would be a good idea have an topic only for exercicies s

[2020-03-18 15:30] ddada24 commented on #27
1. There can be a training/Tutorial link in the top right corner of Intermine home page, where there is "Biologists, Developers, contacts and resources"  this will help a first time visitor on the site to find it easy familiarizing themselves to the page and also carry out the required activities on Intermine as the will see what will guide them at their first glance at the page. The Hugo mainroad

[2020-03-18 15:42] silvinabt87 commented on #29
Hi, I'd like to contribute here, if possible. I'm an Outreachy applicant and this would be my first contribution. Let me know of any more details that I need to take into account to work on this, please. I've already checked the README and CONTRIBUTION files, and forked the repo.

[2020-03-18 15:44] anushkajha commented on #27
@Persdre yes. screen recording would be used to make demo videos (you can record audio of the instruction simultaneously in screen recording).
also rather than making a long tutorial we can divide it into small modules where each module would contain a demo video and related written material .

[2020-03-18 15:52] anushkajha commented on #27
@SiSousa i am  not sure i understood it right or not but i guess in point 2 you mean that we should add some practice exercise for the user.
i think it's a nice idea we can add all the learning resources and practice problem in a module.

also i think we can have something similar to the format of Coursera courses where you have a milestone to track your progress in tutorial .

[2020-03-18 16:08] corine-donfack commented on #27
Hello here!!!
The training page should be displayed more interractif and eye catching. The design should be made enticing enough to give the user the will to lesrn more. I have  three main ideas as to how to make the training section better (some already been raised by my smart mates - will say it using my words though)

- we could separate the tutorials page in the general section according to le

[2020-03-18 16:17] Persdre commented on #27
good idea! I think it can be a main improvent in this summer.

[2020-03-18 16:29] MinervaLong commented on #27
Hello everyone, your ideas in relation to the tutorials are great!

I've been focusing more on the templates and presentations on the website. I think that the Developers section is pretty well organized and has a clear content description so doing the same with the Biologist section could be nice, this way the style is coherent. Then the tutorials could be implemented in a Hugo template similar t

[2020-03-18 16:51] ddada24 commented on #27
@corine-donfack, great comment! There can also be a link for On-site trainings for users who are interested,  venue can be determined by the Intermine group or interested users can invite Expert(s) to train them at their location (Travel Expenses on the user).

[2020-03-18 16:54] corine-donfack commented on #27
@ddada24 that sounds nice too (the onsite idea) why not?

[2020-03-18 17:02] SiSousa commented on #27
@anushkajha hi, yes this is the point, these exercises could be in a separate section inside the training portal, there it would also be awesome if the users could check the progress they are doing how you mentioned, and i also have an idea that the tutorials also could be rating by the users but i dont know... i am very excited to work in the project!

[2020-03-18 17:50] tinycosmos commented on #27
Hi everyone
I appreciate the idea presented by everyone of improving the aesthetics of the website. Well I would also like to suggest some of the issues that i noticed could be improved in a hope to improve usability of the site:

1. Starting from the very top navbar:
    - Appreciate the idea of using [doormat navigation](https://www.nngroup.com/articles/footers/?lm=ten-usability-heuristics&pt=ar

[2020-03-18 17:59] MinervaLong opened #30 "Improvements in Developers section"
Hello, @yochannah Checking the website I've found differences in some links between the overview page of Developers section and the links of the Developers drop-down menu. I've listed them below. Could you indicate which are the right links? Thank you

Developer email list:

Menu link leads to [Dev Archives](https://lists.intermine.org/pipermail/dev/)
Overview page leads to [Email list subscripion

[2020-03-18 19:19] SiSousa commented on #27
@tinycosmos hi, i found your observations very interesting, especially what you pointed at 2.4 about the idea of involving the user in the section that is located in the bottom, this is something i would like to help, so will you open these issues for others who have interested in solve? thanks for any suggestion or advice.

[2020-03-18 19:40] tinycosmos commented on #27
Hi there!
I would definitely open the issue once i propose some design which I'm working on currently for the website.
Thanks and let me know if you have some suggestions to increase user participation.

[2020-03-18 19:57] SiSousa commented on #27
thanks for answer, i think what you pointed are very useful and how i said, i would like to help, especially in the 2.4 point if it would be possible, i have some ideias too, like implement an search field where users can search tutorials by level(ex: begginer, hard) and also filtering by programming language(ex:python, R) and to improve the section to pratical exercices where users can see in pra

[2020-03-19 10:24] itolimaesther commented on #30
@yochannah can I work on this issue if is still open?

[2020-03-19 15:16] yochannah commented on #29
hey both - and thanks for the suggestion! In this case, the training is in the dropdown menu and in the footer, so I think we'd rather keep the main menu uncluttered. Thanks for the thoughtful suggestion, though!

[2020-03-19 15:16] #29 closed

[2020-03-19 16:37] corine-donfack commented on #27
Smart for the footer! Its true that thats were you roam around when you start getting lost. Improving it should really be a main point of concern. Now the 'HOW?' Question

[2020-03-19 16:43] tinycosmos commented on #27
yeah I'm currently working on this one, just researching on how, where and in which way to present data. I'll come up with the low fidelity frames for the website soon.
Till then ideas and suggestions are most welcomed :)

[2020-03-19 16:45] corine-donfack commented on #27
@tinycosmos will think about it too

[2020-03-19 20:58] NorahKiggundu commented on #27
I have not got to the training part yet. First I will say InterMine is very informative for beginners to open source projects. I have so far read the open source guide to submitting contributions and I suggest we change make the following changes to make the work easier to read and navigate through:

1. In section 1: The reasons for contributing to open source can be enumerated as 1,2,3,4 and cont

[2020-03-20 04:51] SiSousa commented on #27
hi everyone, again.
I was exploring the tutorials section on the intermine website and having ideas to work, i think it would be a good idea separe the content into topics just like exercicies, workshops and videos in a way more dinamic as i comment before maybe grouping by programming language(ex:python, R) or by level(ex:begginer,hard), and maybe in the workshop topic maybe would be a good idea

[2020-03-20 06:55] tinycosmos commented on #27
@SiSousa @NorahKiggundu guys please do mention the link to the site you are referring to, that would be of great help!

[2020-03-20 10:50] TakorLucila commented on #27
(http://intermine.org) with respect to this site, i can say it is too crowded, there is a lot of things to read and check out just by visiting or entering the page.
also, the search bar "what intermine is for you" at the bottom of the page isn't really the best. i think i should be at the top so people visiting can be redirected immediately to what theyre really in search of

[2020-03-20 10:54] TakorLucila commented on #27
the intermine.org site should be decongested and the site should have a separate page for tutorials

[2020-03-20 11:08] TakorLucila commented on #27
with respect to the open source guide on how to submit a contribution, i think its to lengthy, its very explicit though but it can be broken down to shorter but explicit points. the resources linked to it are quite educative

[2020-03-20 11:11] TakorLucila commented on #27
i also think that when an issue has been solved and merged, the mentors should close it so we don't go commenting on them and trying to work on them like the python tutorials

[2020-03-20 14:59] silvinabt87 commented on #28
I'd like to work on this issue, if possible. Is there any other details I need to take into account to work on this?

[2020-03-20 16:53] SiSousa commented on #27
Hi, okay, i was referring to this part of the website: http://intermine.org/tutorials/   open to suggestions and advices.

[2020-03-21 02:10] anushkajha commented on #28
Hello @silvinabt87.
 i have already started working on this issue.

[2020-03-21 02:26] anushkajha commented on #28
@yochannah could please assign this issue to me.

[2020-03-21 20:12] SiSousa opened #33 "Fixed:group similar contents in tutorials page(by programming language and topics)"
@yochannah hi,
I think it would be a good idea organize the tutorials page by group the content in a simpler way that get it more eye catch  and easy to find the information for the users, especially the first time users, so i am working in this issue and grouping the content by programming language and topics, open to advices of how should i proceed and suggestions.

[2020-03-21 20:15] SiSousa commented on #33
Here's a preview:
![Screenshot_2020-03-20-20-48-30](https://user-images.githubusercontent.com/62321835/77235772-11b82e80-6b8f-11ea-8d21-a2e05a814686.png)

[2020-03-23 08:08] Samiratu commented on #33
I will like to work on this issues.

[2020-03-23 08:58] anshukaira commented on #27
hi. you people really have great observations and your comments for the training portal are too good but what I have noticed that whenever I open the tutorial page I dont get any icon on the browser tab. I was wondering that is it happening in my browser or yours too?
Now I really liked everyone's idea...
I guess working on more spacing and readability of the content would be good by changing the

[2020-03-23 15:57] SiSousa commented on #33
hi @Samiratu i feel very glad that you want to work on this, but i am working on this issue already, maybe we can work together on some topics if it is allowed, i think it would very interesting, if you have any suggestions or ideias to help me i would love to hear them, open to suggestions, have a great day.

[2020-03-23 19:12] sabina-rohman commented on #11
@yochannah Hi, I have unassigned myself from this issue. Priorities have changed with the corona outbreak.  :(

[2020-03-23 20:46] Anu-Ranjan commented on #27
@yochannah Are we talking about this website? http://intermine.org/tutorials/. Please let me know so that I can contribute.

[2020-03-25 04:31] Persdre commented on #27
Yes!

[2020-03-25 05:57] guptadiksha307 commented on #27
Hi there!!
1.) In addition to what @anushkajha and @SiSousa said, it's absolutely a great idea to provide video tutorials and practice sessions (for as many topics as possible) because most of the users prefer learning from videos rather than reading the whole content. But, I think it will become more cumbersome to have video and written tutorials for every topic. We can have some written tutorial

[2020-03-25 16:09] SiSousa commented on #27
@guptadiksha307 hi, as i commented before there's a good idea to have a section to the pratical exercicies, i am currently working to organize the content in the tutorials page and group them into levels and similar topics to make it simpler and more intuitive to the users, i liked to much that you suggest to put some written materials and pdfs, especially the quizzes! ah, i really loved that you

[2020-03-25 17:06] tinycosmos opened #36 "Homepage Redesign Concept"
Went through the intermine homepage and collected the main points presented there. I have proposed in here the flow of the data presented in website.
@yochannah have a look

[2020-03-25 17:06] tinycosmos commented on #36
[homepageRedesignByRoshniPrajapati.pdf](https://github.com/intermine/intermine-homepage-2017/files/4382337/homepageRedesignByRoshniPrajapati.pdf)

[2020-03-25 19:23] tinycosmos opened #37 "Improvement in basic ui"
1) Extra rectangular box taking up the space which makes extra unnecessary gap when tab size is minimized to an extent.
2) The search bar section which apparently helps in user interaction is laid at bottom(reduces it's impact and usefulness), so swapping it with 'contribution guide section'
3) Due to first point_1 there is problem with the content alignment, hence making it centered

@yochannah c

[2020-03-25 19:25] tinycosmos commented on #37
![Screenshot (77)_LI](https://user-images.githubusercontent.com/45714224/77577270-79a6a600-6efc-11ea-8d4a-f466e65c7ace.jpg)

[2020-03-26 10:12] yochannah commented on #37
hey @tinycosmos ! for 1 and 3, 'im not averse to centering it - please make sure it works nicely in all screen widths, though.

for 2 - we actually prefer it down the bottom :)

Yo

[2020-03-26 10:15] yochannah commented on #27
@SiSousa

could you share a demo of the theme? I'm quite fond of the current intermine theme.

hacing all tutorials etc. arranged in one place sounds great! I think we like having multiple links from different sections, to make sure that people can find what they're interested in (a lab scientist might not look at dev docs, for example). that doean't mean the content can't all be in the same place

[2020-03-26 10:16] yochannah commented on #27
@Anu-Ranjan yes! :)

[2020-03-26 14:05] raashika03 commented on #11
@yochannah  can i work on this issue?

[2020-03-26 17:05] SiSousa commented on #27
@anushkajha hi, i hope you are well, so i would like to mentioned you in my issue but now that it is closed(cause pr was aproved) i couldn't, but i think that would be a good idea  give you credit cause we were talking about the Exercises topics here so that would be a good idea, dont you think? let me know what you think, open to suggestions, sucess, have a great day.

[2020-03-26 18:02] SiSousa commented on #27
hi, i hope you are alright, thanks for the feedback and help, i am very glad to contribute, so can i start to work on these suggestions? sorry if i didnt understand, i am very excited to work in the project, have a great week.

[2020-03-27 01:19] SiSousa opened #40 "Fixed: broken links in contacts section (community-calls links )"

[2020-03-27 01:55] SiSousa commented on #40
in the website header, especifically on the contact section (contact/community calls) there was a broken link and also both the links (community-calls/developer-calls) and (community-calls/outreach-calls) were broken. Open to sugestions and advices.

[2020-03-27 05:36] guptadiksha307 commented on #40
Hi @SiSousa, I was also about to raise this issue but I think you first have to subscribe to the developer mailing list before every call. If your request is confirmed then only you are good to go :). I'm not sure though.
@yochannah am I correct?

[2020-03-27 08:38] tinycosmos opened #43 "Make link with link-out icon open in new tab"
What users believe they know about a UI strongly impacts how they use it. [Mismatched mental models](https://www.nngroup.com/articles/mental-models/) are common, one of them is link-out icon (user believes that link opens in a new tab but it does not!)

Another idea is to add a link to the tutorial page on the main home page, so that it's quite easy to access the page for user.

[2020-03-27 13:16] Siaw-gifty opened #44 "Improvement in the ui/ux of the tutorial webpage."
External webpage such as "calendar" and "twitter feed" should be opened in a different tab to help keep users on our page and without burdening the webpage.

Rearrange "materials", "exercises" and "videos" section in a horizontal order for easy access without the user scrolling down for each section.

[2020-03-27 13:30] Siaw-gifty commented on #44
Please, can i work on it?

[2020-03-28 01:44] SiSousa commented on #40
@yochannah  @guptadiksha307 Hi, i hope you are all safe and well, so i have some questions about this issue... so to the user make a call the rule is first subscribe to the developer mailing list before call? cause when i open the homepage and click in the header/contact/community calls then i get a broken link, is it supposed to be like that?  but when i click in contact section/overview i have t

[2020-03-28 05:09] guptadiksha307 opened #46 "adding functionality to allow people to rate tutorials using Google Forms."
Meaningful input from learners is essential for improving our tutorials/videos. One of the most common indirect course assessment methods is the course evaluation survey. In addition to providing useful information for improving out learning sections, course evaluations provide an opportunity for learners to reflect and provide feedback on their own learning.
So, there should be a functionality to

[2020-03-28 05:13] guptadiksha307 commented on #46
@yochannah Can I go forward with this issue?

[2020-03-30 11:04] yochannah commented on #15
Fixed in several PRs - thanks all!

[2020-03-30 11:04] #15 closed

[2020-03-30 11:19] #16 closed

[2020-03-30 12:58] yochannah commented on #37
@tinycosmos I didn't quite click until you added the screenshot why things were looking out of alignment - there should be a full intermine results table showing up on the homepage but it broke!

If you take a look in the js console, you can see there's an error fetching data from FlyMine. What we actually need to do is get the table back - to do this we'll probably just need to correct the old fl

[2020-03-30 13:12] yochannah commented on #43
Hmmm - all links with a link out icon _should_ be opening in new windows. Which ones aren't?

[2020-03-30 13:47] tinycosmos commented on #43
Links provided in the lists of nav-bar with this specific icon
![Screenshot (87)_LI](https://user-images.githubusercontent.com/45714224/77919571-fa79ef00-72ba-11ea-98cf-2d41f88bd4bd.jpg)

[2020-03-30 15:02] tinycosmos commented on #37
okay I can give it a try :D

[2020-03-30 16:00] yochannah commented on #44
@Siaw-gifty so long as it's still mobile ready / responsive I'd be happy for you to do this! if you prefer, it's okay to post a sketch . mockup of how the rearranged section would look.

[2020-03-30 16:46] tinycosmos commented on #43
this is another idea how could we linkup the tutorials directly to the homepage
![tutorialmock](https://user-images.githubusercontent.com/45714224/77938870-f9a18700-72d3-11ea-9c32-8de94ddd22c0.png)

[2020-03-30 18:51] Siaw-gifty commented on #44
@yochannah below is the sketch.
![image](https://user-images.githubusercontent.com/62222341/77949706-43f71980-727c-11ea-9ea8-ba35ea7e62b1.png)

[2020-03-31 00:30] anushkajha opened #50 "submenu links not responding in hamburger menu"
Hello @yochannah I noticed a major issue. the links of the submenu   of hamburger menu are not responding on click as desired. on clicking a link in submenu it does not open the webpage associated with that  link rather it closes the navbar. Modifications are required to make these submenu links clickable.
I have started working on it.
could you please assign this task to me.

[2020-03-31 00:56] #40 closed

[2020-03-31 01:21] sisouza opened #51 "contact us/video tutorials add by community members"
hi @yochannah i hope you are fine, so i was exploring the tutorials section and a question come to my mind,  when community members want to add a video tutorial how they contact intermine org? i mean they can do it by call, email but is there a specif form to this? does intermine has a especif chanel only for this topic? cause intermine provides a lot of options to users contact the organization w

[2020-03-31 06:14] Angelvicks commented on #33
Hi, @SiSousa , I work with you on this issue.

[2020-03-31 10:03] yochannah commented on #43
@tinycosmos - assigned :) just do the links for now :)

[2020-03-31 16:19] SiSousa commented on #33
Hi @Angelvicks i hope you are fine, in this issue i grouped the content in tutorials section, created a topic only for the Exercises and organized them by programming language and level to facilite to first time users , so do you want to work in this issue? let me know if you have any ideas... i have some that i want to improve  but i don't know how to do it(i am new to hugo framework) so maybe we

[2020-04-01 01:01] SiSousa commented on #51
@yochannah i was thinking about something like this:
![screen6](https://user-images.githubusercontent.com/62321835/78088100-90844700-7399-11ea-8c8b-d8e00b342731.JPG)
it is just a hypothesis, just like maybe the developer email list and other links could be remove in this section to provide a more "direct" way to the community members interested in this topic (submit a video tutorial) do it, follow

[2020-04-03 15:23] nehasangeetajha commented on #37
I am an outreachy applicant. Can i work on this?

[2020-04-03 15:24] nehasangeetajha commented on #22
Is this issue available to be assigned?

[2020-04-05 04:40] enelesmai commented on #14
Is it possible I help with this issue? or it is already finished?

[2020-04-05 16:42] enelesmai commented on #11
I this issue still available to work on?

[2020-04-05 17:22] enelesmai opened #58 "Add intermine logo to small resolution"
Hello!, I detected some improvements that could be done when the hamburger menu is shown.
1. **intermine** logo is hidden when small resolution and it could be a good idea to have it always visible.
2. Hamburger icon is too small, and is too close to the right, it could be a little bigger and with a margin.
3. Close button looks incomplete.

Could I work on these improvements?

![image](https://us

[2020-04-05 23:52] enelesmai commented on #27
Some things that can be easily added, and catch user interest:
* Adding quick access to tutorials for beginners.
* Adding a getting started more visual, with examples, to make it readable and easy understandable.
* Changing the layout for documentation to be more attractive, separated in sections and with more examples.

![image](https://user-images.githubusercontent.com/5160907/78513039-7cac5c80-

[2020-04-06 00:36] Officialkome commented on #27
Hello everyone, I just came across this issue for ideas. I have gone through some of the comments and these are really great ideas by everyone. It is exciting to see that we are all thinking in the same lines i.e. the need for the training portal to have a better layout, better organized content and making the portal more accessible. I would drop screenshots from "low-fi" designs I did to show the

[2020-04-07 00:32] Chigael commented on #43
Hi can i work on this issue @yochannah

[2020-04-07 10:31] Chigael opened #61 "Improvement in UI to fix broken lines"
The intermine homepage displays some mines which should appear on all screen resolution.
 However some mines are broken in small screen resolution. Therefore, it will be better to have all the displayed mines visible.

![Screenshot (12)](https://user-images.githubusercontent.com/60928555/78659270-33b9ec80-78c3-11ea-9702-75ef7998e686.png)

![Screenshot (11)](https://user-images.githubusercontent.co

[2020-04-07 12:04] Angelvicks commented on #27
Hello Everyone, I have gone through the different ideas and they are really good. I will like to add the following;
1- There should be a way users can add more tutorials or contact the community to propose ideas directly because people have different ways of learning and have two or more ways could easily help a user to understand the tutorial and stay to the platform he/she is using in our case i

[2020-04-07 12:58] yochannah commented on #61
oh, I didn't notice that - thanks for reporting this issue! :)

[2020-04-07 16:04] Chigael commented on #61
I am working on the project

[2020-05-11 14:37] yochannah opened #62 "Add Outreachy 2020 interns to the contributors list"
the list of interns and their github handles is here: https://github.com/orgs/intermine/teams/outreachy-interns-2020/members

In order to add the interns, I think we can just copy the [GSoC 2019 file](https://github.com/intermine/intermine-homepage-2017/blob/master/content/contributors/gsoc2019.md), rename it outreachy-2020, and chance the json entries to match our current crop of interns.

When m

[2020-05-11 15:32] JackieBinya commented on #62
@yochannah I am failing  to view the data in this link => https://github.com/orgs/intermine/teams/outreachy-interns-2020/members
I am getting the error below in my browser.
![inter-new](https://user-images.githubusercontent.com/50267279/81579955-1938ce80-93ad-11ea-9f55-cc6ee92dd9e9.png)

[2020-05-11 15:50] JackieBinya commented on #62
I followed your instructions. In the _~/content/contributors_ directory, I created an _outreachy-2020.md_ file, then copied content from _gsoc-2019.md_ changed the title only otherwise the rest of the content is unchanged. As you can see from the screenshot below, the GSOC 2019 interns precede the Outreachy 2020 interns. I suggest we edit the layouts as well as the logic so as to fix that so as to

[2020-05-13 10:54] yochannah commented on #62
For the Outreachy interns - try changing the weight to be a lower number than the GSoC interns. I think that will bring it up higher?

[2020-06-01 12:44] #62 closed

[2020-06-11 13:16] yochannah commented on #27
Hey folks - thanks for all the amazing discussions here. The training portal project is now in progress so I'll close this issue down - but it's been massively useful and will definitely help influence the way the portal is implemented in the future 🚀 y'all are amazing.

[2020-06-11 13:16] #27 closed

[2020-06-11 13:18] yochannah commented on #58
These issues have been fixed in some recent PRs - thanks for the report @enelesmai !

[2020-06-11 13:18] #58 closed

[2020-06-11 13:34] yochannah opened #65 "Accessibility audit"
We should make sure that the homepage is accessibility-compliant as possible, both for screenreaders and any other concerns there might be.

There are two ways to approach this:

1. Identify issues with site accessibility and create an issue. Add an accessibility label if you have the rights to do so, or an intermine team member will do so if not.
2. Pick these issues up if you know how to address

[2020-06-22 10:35] uosl opened #66 "Move external intermine resources into homepage"
The following pages are linked from the Bluegenes footer:

https://intermineorg.wordpress.com/cite/
https://intermine.readthedocs.io/en/latest/about/ (also see the other subpages accessible in the right sidebar)
https://intermine.readthedocs.io/en/latest/about/privacy-policy/

They are spread between the Intermine wordpress blog and the Intermine user docs. I think it would make sense to have thes

[2020-07-22 12:11] yochannah opened #67 "migrate fragmented content from wordpress and read the docs to the homepage"
The homepage should be the source of truth for many things it is currently not, e.g.:

- [ ] Events - currently at https://intermineorg.wordpress.com/events/, could be at intermine.org/events
- [ ] privacy policy - currently at https://intermine.readthedocs.io/en/latest/about/privacy-policy/, could be at intermine.org/privacy-policy
- [ ] citations - migrate any missing content from https://interm

[2020-08-11 10:28] uosl opened #68 "Add new training portal"
The URL http://intermine.org/tutorials/, accessible via the navbar from *Biologists > Tutorials and Videos*, should use the new page created in https://github.com/intermine/training-portal.

It is also made with hugo, so hopefully this should be a simple matter. A git submodule might be a good approach.

Tip: Look into how http://intermine.org/imjs/ is integrated.

[2020-08-27 12:34] uosl opened #69 "Update team and contributors page"
http://intermine.org/team/
http://intermine.org/contributors/

[2020-10-12 11:58] uosl commented on #69
Also emails on http://intermine.org/code-of-conduct/ needs to be updated.

[2021-02-02 04:37] aditisingh2412 commented on #69
Hey, I'm a newbie! Is this issue still open? Can I work on this issue?

[2021-02-10 15:36] #69 closed

[2021-02-18 10:25] uosl opened #71 "Data table on homepage has its tooltips cut off by container"
This is likely a CSS problem.

![2021-02-18-102302_401x418_scrot](https://user-images.githubusercontent.com/3865590/108343104-77fc6580-71d3-11eb-878b-4164eef84e04.png)

[2021-02-18 10:27] uosl commented on #66
Fixed with #70

[2021-02-18 10:27] #66 closed

[2021-02-18 10:27] danielabutano opened #72 "Duplication mines on the coloured boxes section"
Sometimes, on the home page, in the coloured boxes section, a mine instance is displayed twice

[2021-06-15 09:16] uosl commented on #68
*Biologists > Tutorials and Videos* now points to http://intermine.org/training-portal/
(Each repository is hosted separately using gh-pages.)

[2021-06-15 09:16] #68 closed